.ma-product {
    flex: 1 1 0;
    padding: 10px;
    position: relative;
}

.ma-product-details {
    flex-grow: 1;
    text-align: center;
}

.ma-product-name {
    margin: 10px 0; 
    font-size: 1rem;
    font-weight: bold;
}

.ma-price {
    flex-grow: 1;
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.ma-original-price {
    text-decoration: line-through;
    font-size: 14px;
    color: grey;
    margin-left: 10px;
}

.ma-buy-now {
    display: inline-block;
    box-sizing: border-box;
    background: #c1272c;
    color: #ffffff;
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
    border-color: #a88734 #9c7e31 #846a29;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    min-width: 125px;
    max-width: 200px;
    text-align: center;
    line-height: 25px;
    margin: 0 auto;
}

.ma-product-image {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ma-wrapper h4 {
    font-size: 16px;
    line-height: 18px;
}

/* GRID ONLY */
.ma-single-grid {
    float:left;
    margin-right:1.5rem;
}
.ma-wrapper.ma-grid.single {
    min-width: 200px;
}
.ma-wrapper.ma-grid .ma-products {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width:200px;
}

.ma-wrapper.ma-grid .ma-product {
    padding-bottom: 25px;
    margin-bottom: 10px;
    min-width: 150px;
}

.ma-wrapper.ma-grid .ma-product-image {
    width: 100%;
    height: 150px;
}

.ma-wrapper.ma-grid .ma-buy-now {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100px;
}

/* LIST ONLY */
.ma-wrapper.ma-list .ma-product {
    display: flex;
    border-top: 1px solid #cecece;
    margin: 0 auto;
}

.ma-wrapper.ma-list .ma-product:first-child {
    border-top: 0;
}

.ma-wrapper.ma-list .ma-product-details {
    padding-left: 10px;
    text-align: left;
}

.ma-wrapper.ma-list .ma-price {
    padding-right: 20px;
    text-align: left;
}

.ma-wrapper.ma-list .ma-product-buy {
    display: flex;
    flex-wrap: wrap;
}

.ma-wrapper.ma-list .ma-product-image {
    width: 128px;
    height: 72px
}

.ma-wrapper.ma-list .ma-product-buy a {
    margin-top: -18px;
    margin-right:10px;
}

.ma-wrapper.ma-list .ma-product-details a .ma-product-name {
    max-width: 70%;
}

@media screen and (max-width: 600px) {

    .ma-wrapper.ma-list .ma-product-image {
        width: 70px;
        height: 100px
    }

    .ma-wrapper.ma-list .ma-product-buy a {
        margin-top: 0;
    }

    .ma-wrapper.ma-list .ma-product-details .ma-product-name {
        max-width: 100%%;
    }
}

/* PARTNERS */
.ma-buy-now[data-partner^="amazon-"] {
    background: url(https://wms-eu.amazon-adsystem.com/panda/20070822/US/img/cart.gif) no-repeat center left, linear-gradient(to bottom, #f7dfa5, #f0c14b);
    border-color: #a88734 #9c7e31 #846a29;
    color: #111111;
    padding-left: 25px;
}

.ma-buy-now[data-partner^="amazon-"]:hover {
    background: url(https://wms-eu.amazon-adsystem.com/panda/20070822/US/img/cart.gif) no-repeat center left, linear-gradient(to bottom, #f5d78e, #eeb933);
}
